<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{site.title}} - {{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class='index_{{page.isIndex}} home_{{page.isHome}}'>
    <div class='wrapper'>
      <div id='nav'>
        {{#unless page.suppress_section_index}}<a href="{{site.baseUrl}}">Home</a>
          {{#each site.index.sections}}
            <a href="{{url}}"> {{defaultNoUnderscores name title}}</a>
          {{/each}}
        {{/unless}}
      </div> {{!-- /#nav --}}
    </div> {{!-- /.wrapper --}}

    <div class='wrapper'>
      <div class='content-main'>
      <article>

      <h1>{{{page.title}}}</h1>
      <h2 class='subtitle'>{{{default page.subtitle page.sum}}}</h2>

      {{#if page.media}} <img src='../{{page.media}}' class='page_media' style='{{{page.media_style}}}'> {{/if}}

      {{#if page.press }}
        <div class='press'>
          <h2>Press</h2>
          {{#each page.press}}<a href='{{this.link}}'>{{this.text}}</a>{{/each}}
        </div>
      {{/if}}

      {{{content}}}


    	{{!-- If this is an index.md, list all the other .md's in the dir --}}
	    {{#if page.isIndex}} {{#unless page.suppress_files_index}}
	      {{#each page.section.files}}
	        {{> pageLinkThumbA }}
	      {{/each}}
	      {{!-- and show the images in the dir, if page.show_image_index is true --}}
	      {{#imagesInSect}}
	        {{> imageThumbA this}}
	        {{!-- {{> imageThumbI this}} --}}
	      {{/imagesInSect}}
	    {{/unless}} {{/if}}
    </article>
    </div> {{!-- end content-main --}}
  </div> {{!-- end wrapper --}}

{{!-- Same as above without suppress_section_index and bottom class for nav  --}}
{{#if page.section_index_footer}}
 <div class='wrapper'>
      <div id='nav' class='bottom'>
        <a href="{{site.baseUrl}}">Home</a>
          {{#each site.index.sections}}
            <a href="{{url}}"> {{defaultNoUnderscores name title}}</a>
          {{/each}}
      </div> {{!-- /#nav --}}
    </div> {{!-- /.wrapper --}}
 {{/if}}

  {{!-- For Debuging --}}
  {{!-- {{json page}} --}}
  {{!-- {{json site.index.sections}} --}}

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src='/script.js'></script>
  {{#if site.production }}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5357971-1', 'auto');
  ga('send', 'pageview');

</script>
  {{else}}
  <script>document.write('<script src="http://'+ location.host.split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
  {{/if}}
  </body>
</html>