<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site.title}} - {{page.title}}</title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
<!-- 	<h2>Page</h2>
	{{#each page}}
		<p><strong>{{@key}} </strong>: {{this}}</p>
	{{/each}}
 -->

 	{{#each page.captions}}
 		{{#each this}} {{@key}} {{this}} {{/each}}
 	{{/each}}

	<h2>Page.section</h2>
	{{#each page.section.files}}
		<!-- <p><strong>{{@key}} </strong>: {{this}}</p> -->
		{{this.relative}}
		{{this.meta.name}}
		{{this.meta}}
		<br><br>
	{{/each}}
	

<!-- 	<h2>Site.index</h2>
	{{#each site.index}}
		<p><strong>{{@key}}</strong> : {{this}}</p>
	{{/each}} -->

	<h1>{{page.title}}</h1>
	{{{content}}}

	<script>document.write('<script src="http://'+ location.host.split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>

  </body>
</html>