<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site.title}} - {{page.title}}</title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<!-- {{#each page.section.files}} {{this.meta.name}} <br>{{/each}} -->
		{{#each page.section.files}} 
		{{this.meta.name}}
			{{#unless this.meta.isIndex}}
				<img src="{{this.relative}}"> <br>
			{{/unless}}
		{{/each}}
		<!-- {{#each page.section.files}} {{this.path}} <br>{{/each}} -->
		<!-- {{tfiles}} -->
<!-- 	<h2>Images ...Page</h2>
	{{#each page}}
		<p><strong>{{@key}} </strong>: {{this}}</p>
	{{/each}}

	<h2>Page.section</h2>
	{{#each page.section}}
		<p><strong>{{@key}} </strong>: {{this}}</p>
	{{/each}}
	
	<h2>Site.index</h2>
	{{#each site.index}}
		<p><strong>{{@key}}</strong> : {{this}}</p>
	{{/each}}
-->
	<h1>{{page.title}}</h1>
	{{{content}}} 

	<script>document.write('<script src="http://'+ location.host.split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>

  </body>
</html>